[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExhaustiveSearch"]
	path = ExhaustiveSearch
	url = https://github.com/rudolfjagdhuber/exhaustivesearch
